/* body内容 */
body {
    background: radial-gradient(300% 100% at top, #3b69af 10%, #75517d 40%, #e98296 65%, #f7eca7) fixed;
    background-size: cover;

    user-select: none;
}

/* 容器 */
.container {
    position: relative;

    width: 1000px;

    margin: 0 auto;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* header头部 */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 200px;
}

/* 表单 */
.header form {
    display: flex;
    align-items: center;
}

.header form svg.icon {
    /* 在x坐标轴横移40px */
    transform: translateX(40px);
}

.header form input {
    width: 420px;
    height: 35px;

    padding: 0 30px;

    border-radius: 20px;

    text-align: left;

    /* 动画属性 */
    transition: width 1s;
}

/* 表单获取焦点事件 */
.header form input:focus {
    width: 520px;
}

.header form input[type="text" i] {
    padding: 1px 45px;
}

/* 表单结束 */

/* 下拉菜单 */
.searchList {
    display: none;
    position: absolute;
    overflow-y: scroll;

    width: 420px;
    height: 155px;

    top: 135px;
    left: 250px;

    background-color: #fff;

    list-style: none;
    /* 隐藏IE and Edge滚动条 */
    -ms-overflow-style: none;
    /* 隐藏Firefox滚动条 */
    scrollbar-width: none;

}

/* 下拉菜单滚动条 */
.searchList::-webkit-scrollbar {
    /* 隐藏谷歌滚动条 */
    display: none;
}

.searchList li {
    position: relative;

    width: 100%;

    padding: 5px 20px;
    left: -40px;

    text-align: center;
    user-select: none;
}

.searchList li.item {
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

/* 下拉菜单小li 移入移出 */
.searchList li:hover {
    background-color: lavender;

    cursor: pointer;
}

/* 下拉菜单结束 */

/* header头部结束 */

/* main主体部分 */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;

    margin-top: -50px;
    margin-bottom: 20px;
}

/* 城市信息 */
.main .cityInfo .cityInfo-title {
    display: flex;
    align-items: center;
}

.cityInfoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 850px;
    min-height: 64vh;
}

.cityInfoList .noCity {
    width: 850px;

    margin: 50px auto;

    font-size: 20px;
    text-align: center;
}

.cityInfoList .cityInfoList-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 360px;
    height: 200px;

    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

/* 城市信息部分结束 */

/* 分页栏 */
.pagination {
    width: 100%;
    height: 30px;

    margin: 30px auto;
    margin-top: 50px;

    text-align: center;
}

.pagination_box {
    width: 60%;
    height: 35px;

    margin: 0 auto;
}

.pagination_box a {
    float: left;

    margin-left: 10px;
    line-height: 30px;
}

.pagination_box .page {
    color: #fff;

    background-image: linear-gradient(to right bottom, #03d827, #fce998, #c09520);
    background-position: 0 0;
}

.pagination_box div {
    float: left;

    margin-left: 10px;
    padding: 5px 25px;

    border: 1px solid #DDDDDD;
    border-radius: 8px;
    background-color: #3b69af;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.pagination_box div:hover {
    color: #fff;

    background-image: linear-gradient(to right bottom, #03d827, #fce998, #c09520);
    background-position: 0 0;

    /* 动画效果 */
    animation: animate 0.3s ease 1;
}

/* 分页栏结束 */

/* main主体部分结束 */

/* animate动画 */
@keyframes animate {
    50% {
        background-position: 100% 100%;
    }
}

/* animate动画结束 */